extends layout

block layout-content
    script.
        function callApi(endpoint){
            fetch(endpoint)
                .then(response => response.json())
                .then(data => {
                    let dataToPrint = `${new Date().toLocaleTimeString()} - ${JSON.stringify(data)}`
                    console.log(dataToPrint)
                    let oldHtml = document.getElementById("crash-id-display").innerHTML
                    document.getElementById("crash-id-display").innerHTML = `${oldHtml}${new Date().toLocaleTimeString()} - ${JSON.stringify(data)} <br />`
                });
        }
    div(style="display: flex; flex-direction: row; justify-content: center").jumbotron
        h1.Banner Crash Service
    div(style="display: flex; flex-direction: row; justify-content: center")
        div(style="width: 30em;")
            button(onclick="callApi('/crash')" style="margin-bottom: 1.5em").btn.btn-outline-danger.btn-block Crash
            button(onclick="callApi('/reset')" style="margin-bottom: 2em").btn.btn-primary.btn-block Reset
    div(style="display: flex; flex-direction: row; justify-content: center")
        p(id="crash-id-display")